 <h3><%= link_to "Go to Event list", events_path %></h3> <p>or</p><h3>Create a New Event</h3> 
<p>
<%= form_for(@event, url: events_path) do |f| %>
<%= f.label :name %><br>
<%= f.text_area :name %><br>

<%=f.label :date%><br>
<%=f.date_select :event_date %><br>
</p>

<p>
<%= f.fields_for :building do |b| %>
<h2><%= b.label :building %></h2>
<p>
	<%= b.label :need, "need", :value => true %>
	<%= b.radio_button :need, true %>
	<%= b.label :need, "got it", :value => false %>
	<%= b.radio_button :need, false %></p>
	<%= b.label :description%><br>
	<%= b.text_area :description %><br>
	<%= b.label :capacity %><br>
	<%= b.text_area :capacity %><br>
</p>
<% end %>

<%= f.submit "new event" %><br>
<% end %>








