
	<p><h3>Event Name</h3><%= @event.name %> <h3>Event Date</h3><%= @event.event_date %> </p>
	<p><h3>Building Type</h3><%= @building.description%></p>
	<p><h3>Building Capacity</h3> <%= @building.capacity%></p>
	<p><h3>Is the Building still needed?</h3> 
	<% if @building.need == true%>
		<%= "Yes"%>
		<%= form_for @event.building, html: {method: "patch"} do |b|%>
		  
		    <%= b.label :need, "Can you provide a building? Yes:", :value => false %>
		    <%= b.radio_button :need, false%>
		    <p><h3>Building Description</h3>
		    <%= b.label :description, "If yes, please describe the building." %>
		    <%= b.text_area :description %>
	    
		  <%= b.submit "submit"%>
		<% end %>
	<% else%>
	<%=   "No" %>
	<% end %>

	<%= link_to "Back to event list", events_path %>